@import './variables';

.header {
  background-color: $color-blue;
  color: $color-white;
  height: 5.3rem;
  overflow: hidden;
  padding: 0 0 0 10rem;
  position: relative;

  .logo {
    bottom: -1.5rem;
    height: 8.3rem;
    left: 1.5rem;
    position: absolute;
    top: -1.5rem;
    width: 8.3rem;
  }

  .menu-main {
    list-style: none;
    overflow: hidden;

    li {
      float: left;
      margin-right: 3rem;
    }

    a {
      color: $color-white;
      text-decoration: none;
    }
  }
}
